// Utility Classes

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.header-lead {
  font-size: 5rem;
  font-weight: 100;
}

.p-lead {
  font-size: 2rem;
}

.text-primary {
  color: $primary-color;
}

.btn {
  padding: 1rem 2rem;
  color: $dark-color;
  text-decoration: none;

  &-main {
    border-bottom: 1px solid $dark-color;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
