// Utility Classes

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
}

.header-lead {
  font-size: 5rem;
  font-weight: 100;
}
.header-lead-m {
  font-size: 4rem;
  font-weight: 100;
}

.p-lead {
  font-size: 2rem;
}

.text-primary {
  color: $primary-color;
}

.btn {
  padding: 1rem 2rem;
  color: $dark-color;
  text-decoration: none;

  &-main {
    border-bottom: 1px solid $dark-color;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

.text-center {
  text-align: center;
}

.py-3 {
  padding: 3rem 0;
}

.bottom-line {
  height: 2px;
  background: $primary-color;
  width: 10%;
  text-align: center;
  margin: 100px auto 0 auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
