@import "config";
@import "utilities";

// CSS Reset
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.2;
  color: $dark-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 h4,
h5,
h6 {
  font-weight: 100;
}

img {
  width: 100%;
}

// Cursor
.txt-type > .txt {
  border-right: 0.1rem solid $dark-color;
}

// Navbar
.nav {
  height: 10vh;
  position: fixed;
  top: 0;
  right: 15%;
  z-index: 999;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // border-top-left-radius: 100px;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem;

    & ul {
      display: flex;

      & li {
        padding: 0 0.5rem;
        font-size: $nav-font-size;
      }
    }
  }
}

// Section: Showcase
.showcase {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 15rem;
    &__btns {
      display: flex;
      align-items: center;
      justify-content: center;

      & a {
        margin: 3rem 1rem;
        border-bottom: 1px solid $dark-color;
        transition: border-bottom 0.3s ease-in;
        transition: color 0.3s ease-in;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// Section: Work

.work__container__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 1.2rem;
}

.work__container__items__item {
  position: relative;
  overflow: hidden;
  background: $primary-color;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

  &:after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  // Bring in main color overlay
  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  // Scale Image on hover
  &:hover &__item-img {
    transform: scale(1.2);
  }

  // Bring in text on hover
  &:hover &__item-text {
    opacity: 1;
    transform: translateY(0);
  }

  &__item-img {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }
  &__item-img:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &__item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-weight: 1000;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 400ms;
  }

  &__item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }

  &__item-buttons {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    text-align: center;
    align-items: center;
    justify-content: center;
    grid-gap: 0.2rem;
    padding: 0.5rem 1rem;

    & a {
      margin-bottom: 10px;
      width: 50%;
      color: #fff;
    }
  }
}

// Section: About Me

.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;

  &__img {
    text-align: center;
  }

  &__img img {
    border-radius: 50%;
    width: 60%;
  }

  &__content p {
    padding: 1rem 5rem;
    max-width: 400px;
    margin-bottom: 2rem;
  }
  &__content a {
    padding: 1rem 2rem;
  }
  &__content__btn {
    padding: 1rem 30%;
  }
}

// Section: CV

.cv {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
  font-size: 1.5rem;

  &__content__download {
    padding: 0 2rem;

    width: 300px;
    margin: auto;

    & a {
      display: inline-block;
      padding: 0 2rem 1rem 2rem;
    }
    & i {
      margin-right: 1rem;
    }
  }
}

// Section: Contact
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  &__header {
    padding: 1rem;
  }

  &__header p {
    padding-right: 10rem;
  }

  &__socials {
    padding: 2rem 1rem;

    & i {
      margin: 0 2rem;
    }
  }
}

// Section: Footer

.main-footer {
  height: 6vh;
  background: $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__content {
    color: #fff;
  }
}

// About Page

.about {
  height: 100vh;
}
